body {
  display: block;
  margin: auto;
  width: 80%;
  border: 2px solid black;
  border-right: 2px solid black;
  padding-left: 20px;
}

button {
  margin-left: 15px;
}

.order-container {
  margin-left: 15px;
}